#ignore .txt files
        if file.endswith('.txt'):
            continue
            
        if file.endswith('__pycache__'):
            continue

        if file.endswith('.pyc'):
            continue